<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
  </head>
  <body>
    <h2>About me</h2>
    <p>Just a few words about me.</p>
  </body>
</html>
